@import '@fontsource/roboto/300.css';
@import '@fontsource/roboto/400.css';
@import '@fontsource/roboto/500.css';
@import '@fontsource/roboto/700.css';

.container-main {
  padding: 16px;
  width: 90%;  /* Chiếm 90% màn hình, để lại khoảng trống 5% mỗi bên */
  max-width: 1000px; /* Giới hạn chiều rộng tối đa */
  margin: 0 auto; /* Căn giữa nội dung */
}

